* {
    margin: 0;
    font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border: border-box;
 
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
   justify-content: space-evenly;
}
.navlogo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
    

}
ul{
    margin-top: 10px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;

}
.add-sec{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(188, 188, 135);
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px ;
    text-align: center;
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
   border: none;
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
}
span{
    font-size: 0.8rem;
}

.nav-second{
    font-size: 1.05rem;
    font-weight: 700;

}
.nav-return{
    font-size: 1.05rem;
    font-weight: 700;
}
/** cart box **/

.nav-cart i{
    font-size: 30px;

}
.nav-cart{
    font-size: 1.05rem;
    font-weight: 700;
}

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 70%;
    font-size: 1.05;
}
.panel-deals{
    font-size: 1.1rem;
    font-weight: 500;
}
/** hero sectio **/
.hero-section{
    background-image: url(hero_image.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.05rem;
    width: 97%;
    margin-bottom: 25px;
   
}
.hero-msg a{
    color: #007185;
}
/** shop section **/
.shop-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    padding: 20px 0px 15px;
    margin-top: 15px;
    background-color: white;
     

}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;

}
.box-content p {
    color: #007185;
}
.box-content h2{
    margin-left: 2px;
    
}
footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
  
}
.foot-panel2{
    display: flex;
    justify-content: space-evenly;
    background-color: #222f3d;
    color: white;
    height: 500px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
    
}
ul p{
    font-size: o.97rem;
    font-weight: bold;
}
.foot-panel3{
    background-color: #222f3d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    color: white;
    border-top: 0.5px solid white


}
.logo2{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px
}
.foot-panel4{
    height: 100px;
    background-color: #0f1111;
    color: white;
    /* color: white;
    justify-content: center;
    align-items: center; */
}
.pages{
    font-size: 0.8rem;
    text-align: center;
    padding-top: 25px;
}
.copy-right{
    font-size: 0.8rem;
    text-align: center;
}